@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  box-sizing: border-box;
}


body {
  background-color: #333;
  color: #222;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}


.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  font-size: 26px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* ===========
=============
==============    
*/



.container.show-nav .circle {
  transform: rotate(-70deg);
}


.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content img {
  max-width: 100%
}

.content p {
  line-height: 1.5;
  color: #333;
}


.container.show-nav+nav ul li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  margin: 40px 0;
  color: #fff;
  text-transform: uppercase;
  transform: translateX(-120px);
  transition: transform 0.5s ease-in
}

nav ul li i {
  margin-right: 10px;
  font-style: 20px;
}

nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150px);
}

nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200px);
}


nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}